* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


:root{
    --main-bg-color: #ffffff;
    --blue-color: #77a6f7;
    --green-color: #00887a;
    --light-blue-color: #d3e3fc;
    --pink-color: #ffccbc;
    --right-color: chartreuse;
    --wrong-color: tomato;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.board {
    padding: 10px;
    max-width: min(40vw, 400px);
    height: min(40vw, 400px);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.board div {
    border: 1px solid var(--green-color)
}

.content {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin: 3em;
}

.cell {
    aspect-ratio: 1;
}

.avaliable {
    background-color: var(--right-color);
}

.not-avaliable {
    background-color: var(--wrong-color);
}

.ship {
    background-color: var(--green-color);
}
.enemyBoard .cell:hover {
    background-color: var(--pink-color);
}
.content .board .stricken {
    background-color: var(--wrong-color);
}

.content .board .miss {
    background-color: var(--light-blue-color);
}

form {
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--light-blue-color);
    width: 300px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 150px);
}

label {
    font-size: 2em;
    color: var(--blue-color);
}

button {
    background-color: var(--blue-color);
    color: var(--main-bg-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.info {
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--light-blue-color);
    width: 300px;
    height: 150px;
    border: 3px solid var(--blue-color);
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 150px);
}

h1 {
    font-size: 2em;
    color: var(--blue-color);
}

header{
    background-color: var(--green-color);
    color: var(--main-bg-color);
    padding: 5px 20px;
    font-size: 3em;
}

footer {
    background-color: var(--green-color);
    color: var(--main-bg-color);
    flex: 0 0 auto;
    text-align: center;
}